.products{
   max-width: 1200px;
   margin: auto;
   padding: 40px;
}

.products_inner{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .products_inner{
        flex-direction: column;
        align-items: center;
        
    }

    .card{
        /* width: 100%; */
        max-width: 350px;
    }
}