body, html{
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.navbar{
    background-color: #202c39;
    color: white;
    /* display: flex; */
    /* align-items: center; */
    /* height: 80px; */
    /* justify-content: space-between; */
    
}
.navbar_inner{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: red; */
    padding: 20px 20px;
    height: 70px;;
    align-items: center;
}

.navbar_logo {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.7rem;
    
    margin-left: 20px;
    cursor: pointer;
    
}

.navbar_logo .navbar_link{
    outline: none;
    text-decoration: none;
    color: #ff5218 !important;
}

.navbar_logo .navbar_link:hover{
    background-color: transparent !important;
}

.navbar_buttons{
    display: flex;;
    justify-content: space-between;


    
}





.menu-icon{

    display: none;
}

.navbar_link,
.navbar_link:visited{
    color: white;
    padding: 6px 20px;
    margin:0 4px;
    display: block;
    text-decoration: none;
    
    
}

.signup{
    border: 1px solid white;
}
.signup:hover{
    border-color: black;
}

.navbar_link:hover{
    color: black;
    background-color: white;
    transition: all 0.5s ease-out;
}

/* background 202c39 */
/* main color FF521B; */



@media screen and (max-width: 768px){
    .navbar_inner{
        position: relative;
        margin: 0;
        padding: 0;
        /* background-color: white; */
    }
    .navbar_buttons{
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #131a22;
        /* height: 500px; */
        /* background-color: #202c39; */
        margin: 0;
        top: 70px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: 1;
        padding: 10px;
    }

    .navbar_buttons.active{
        /* display: flex; */
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .menu-icon{
        display: block;
        margin-right: 20px;
        cursor: pointer;
        /* font-size: 4rem; */
    }

    .icon{
        font-size: 2.5em !important;
        color: #ff5218;
    }

    .navbar_link{
        text-align: center;
        padding:2rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        
    }
}